.SidePanel {
    flex-direction: column;
    align-items: center;
    margin-top: -933px;
    margin-left: 681px;
}

@media only screen and (max-width: 2400px) {
    .SidePanel {
    flex-direction: column;
    margin-top: -632px;
    margin-left: 430px;
    }
    
}

@media only screen and (max-width: 1600px) {
    .SidePanel {
        margin-top: -532px;
        margin-left: 385px;
    }
    
}

@media only screen and (max-width: 2400px) {
    .PreviewContainer {
        display: flex;
        flex-direction: column;
    }
    
}