*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
  background-color: rgb(15, 24, 60);
  height: 100vh;
  padding: 20px;
}
