
.GameStats {
    width: 22vw;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5)
}

.GameStats .value {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
    color: rgba(255, 255, 255, 1)
}

@media only screen and (max-width: 2400px) {
    .GameStats {
        display: flex;
        flex-direction: column;
    }

    .GameStats .value {
        font-size: 1.4rem;
    }
    

}

@media only screen and (max-width: 1600px) {
    .GameStats {
        display: flex;
        flex-direction: column;
    }

    .GameStats .value {
        font-size: 0.93rem;
    }
    

}